Django==4.2.1
requests==2.31.0
python-dateutil==2.8.2
gunicorn==20.1.0
dotenv
opencv-python
Django==4.2.1
gunicorn==20.1.0
requests==2.31.0
firebase_admin
python-dotenv
pandas
numpy
python-dateutil
openai
google-cloud-storage
google-cloud-firestore
Pillow

# Firebase 관련 패키지 (Python 3.9 호환 버전)
#firebase_admin==5.3.0
#python-dotenv==1.0.0

# 데이터 처리 관련 패키지
#pandas==2.0.3  # Python 3.9에서 지원되는 최신 버전
#numpy==1.24.4  # Python 3.9에서 지원되는 최신 버전
#python-dateutil==2.8.2

#openai==1.9.0  # 최신 버전은 Python 3.10 필요, 3.9에서 실행 가능한 버전

# 이미지 처리 관련 패키지
#opencv-python==4.7.0.72  # 최신 버전은 3.10 필요
#Pillow==9.5.0  # 최신 버전은 Python 3.10 이상 필요

